PORT=3001
FRONTEND_URL=http://localhost:5173
DEFAULT_PORT=3001
DEFAULT_FRONTEND_URL=http://localhost:5173
LEADERBOARD_LIMIT=10
RANK_START_INDEX=1
HTTP_STATUS_OK=200
HTTP_STATUS_BAD_REQ=400
HTTP_STATUS_ERROR=500
